@use 'colors' as clr;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  padding: 0 4rem;
  background-color: clr.$blue;

  a {
    text-decoration: none;
  }

  p {
    color: clr.$white;
    
    span,
    a {
      color: inherit;
      font-weight: 600;
    }
  }
}