@use 'colors' as clr;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: clr.$black;
}

::-webkit-scrollbar {
  width: .4rem;
  border: 1px solid clr.$blue;
  border-radius: .4rem;
}

::-webkit-scrollbar-thumb {
  background-color: clr.$blue;
  border-radius: .4rem;
}

html {
  font-size: 16px;

  body {
    min-height: 100dvh;
    background-color: clr.$white;

    h1 {
      color: clr.$blue;
    }

    .icon {
      width: 1rem;
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   * {
//     color: clr.$white;
//   }

//   html {
//     body {
//       background-color: clr.$black;
//     }
//   }
// }