.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100%;
  gap: 1rem;
  height: calc(100dvh - 8rem);
  padding: 1rem 4rem;

  .listContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    height: 100%;

    .radio_group {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media (max-width: 767px) {
  .main {
    height: auto;
    min-height: calc(100dvh - 8rem);
    grid-template-columns: 1fr;
    grid-template-rows: 70vh auto;
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-height: 532px) {
  .main {
    height: auto;
    grid-template-rows: minmax(30rem, 110vh);
    padding: 1rem;
  }
}