@use 'colors' as clr;
@use 'mixins' as mxn;

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;

  .input_group {
    @include mxn.flex_center;
    flex-direction: column;
    align-items: flex-start;

    label {
      font-size: 1rem;
      font-weight: 600;
      color: clr.$blue;
    }

    input,
    textarea {
      width: 100%;
      background-color: rgba(clr.$blue, .2);
      border: none;
      outline: none;
      border-radius: .5rem;
      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 500;
      padding: .2rem .5rem;
    }

    input {
      height: 2.5rem;
    }

    textarea {
      flex-grow: 1;
      resize: none;
      min-height: 4rem;
    }

    .selectBox {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: .2rem .5rem;
      border-radius: .5rem;
      background-color: rgba(clr.$blue, .2);
      cursor: pointer;

      &:hover .optionsList {
        transform: scaleY(1);
      }

      svg {
        transform: rotateZ(-90deg);
        transition: transform .2s ease;
      }

      &:hover svg {
        transform: rotateZ(-180deg);
      }

      .selectedOption {
        background: none;
        padding: 0;
        cursor: pointer;
      }

      .optionsList {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 110%;
        border-radius: .5rem;
        background-color: #c6ddf0;
        border: 1px solid clr.$blue;
        transform: scaleY(0);
        transition: transform .2s ease;
        transform-origin: bottom;

        .optionsList__item{ 
          list-style: none;
          padding: .2rem .5rem;
          font-size: 1.1rem;
          font-weight: 500;

          &:hover {
            background-color: rgba(clr.$blue, .4);
          }
        }
      }
    }
  }

  .input_group:has(textarea) {
    flex-grow: 1;
  }

  button {
    height: 2.5rem;
    border: none;
    border-radius: .5rem;
    background-color: clr.$blue;
    color: clr.$white;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;

    &:hover {
      background-color: rgba(clr.$blue, .8);
    }
  }
}