@use 'colors' as clr;

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding: 1rem;
  border: 2px solid clr.$blue;
  border-radius: 1rem;

  .title {
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    color: clr.$blue;
    border-bottom: 2px solid clr.$blue;
  }

  .content {
    flex-grow: 1;
    max-height: calc(100% - calc(2rem + 2px));
    padding: 1rem 0 0;
  }

  &.danger {
    border: 2px solid clr.$red;

    .title {
      color: clr.$red;
      border-bottom: 2px solid clr.$red;
    }
  }
}